      .nav {
          background-color: #082F43;
          display: flex;
          float: left;
          justify-content: center;
          flex-direction: column;
          padding: 20px;
          height: 100vh;
      }

      .nav-rtl {
          background-color: #082F43;
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 20px;
          height: 100vh;
          float: right;

      }

      .logo {
          width: 100px;
          height: 120px;
          margin: 80px auto 60px auto;
          display: block;
      }

      .links {
          color: #CDF6F9;
          font-size: 20px;
          padding: 15px 20px;
          text-decoration: none;
          cursor: pointer;
          margin: 5px;
      }

      .links:not(.logout):hover {
          background-color: #07526B;
          border: none;
          border-radius: 15px;
      }

      .links:not(.logout):focus {
          background-color: #07526B;
          color: #CDF6F9;
          border: none;
          border-radius: 15px;
      }

      .logout {
          font-size: 18px;
          text-align: center;
          margin-top: auto;
          color: red;
      }